.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background-color: #2e3b55;
  
}

.input {
  background-color: transparent;
  outline: none;
  border-style: hidden;
  color: var(--text);
}

.title {
  
  font-weight: bold;
  color: var(--textSoft);
  text-transform: capitalize;
}

.icons {
  display: flex;
  gap: 20px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
